/* Some of the padding is best dispatched with */
#menu #menu-item-n-login{
float:left;
}
#menu #menu-item-n-login-register{ 
float:left;
}
#container,
#header,
#footer-wrap-inner,
.message {
	width: 100%;
}

#content {
	padding: 1em 2em 0em;
}
.footer li {
        list-style: none;
        margin: 0em;
        display:block;
        padding-left:0;
        padding-right:0;
}

